{% if basic_auth.site_wide_realm | default('') %}
    {% with realm=basic_auth.site_wide_realm %}
        {% include './partials/basic-auth-realm.j2' %}
    {% endwith %}
{% elif vhost.basic_auth_realm | default('') %}
    {% with realm=vhost.basic_auth_realm %}
        {% include './partials/basic-auth-realm.j2' %}
    {% endwith %}
{% endif %}
