{% if vhost.get('ipv4_enabled', undefined) | default(ipv4_enabled) -%}
    {% for ip in vhost.ip_addresses.get('ipv4', ip_addresses.get('ipv4', [])) -%}
        listen {{ ip }}:80;
    {% else %}
        listen 80;
    {%- endfor %}
{%- endif %}

{% if vhost.get('ipv6_enabled', undefined) | default(ipv6_enabled) -%}
    {% for ip in vhost.ip_addresses.get('ipv6', ip_addresses.get('ipv6', [])) -%}
        listen [{{ ip }}]:80;
    {% else %}
        listen [::]:80;
    {%- endfor %}
{%- endif %}
