{% if ip_addresses.ipv4 is defined and ip_addresses.ipv4 | length %}
    {% for ip in ip_addresses.ipv4 %}
        listen {{ ip }}:80;
    {% endfor %}
{% else %}
    listen 80;
{% endif %}

{% if ip_addresses.ipv6 is defined and ip_addresses.ipv6 | length %}
    {% for ip in ip_addresses.ipv6 %}
        listen [{{ ip }}]:80;
    {% endfor %}
{% else %}
    listen [::]:80;
{% endif %}
