# varnish forward
server {
    {% include './partials/listen-ssl.j2' %}
    {% include './partials/ssl-cert.j2' %}
    {% include './partials/basic-auth.j2' %}
    {% include './partials/block-exploits.j2' %}
    {% include './partials/custom-headers.j2' %}

    server_name {{ vhost.canonical_domain or vhost.domains | join(' ') }};

    {% with log_filename='varnish-forward' %}
        {% include './partials/logs.j2' %}
    {% endwith %}

    {% for item in varnish_configuration -%}
        {{ item }}
    {%- endfor %}

    location / {
        if ($request_method = PURGE) {
            return 405;
        }

        # Forward request to Varnish.
        proxy_pass http://{{ username }}-varnish;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;

        proxy_redirect off;
    }
}
