# {{ ansible_managed }}

upstream {{ username }}-php {
    server unix:/run/php/{{ username }}.sock;
}

{% if varnish_enabled -%}
    {% include './partials/varnish-upstream.j2' %}

    {% include './partials/varnish-purge-frontend.j2' %}
{%- endif %}

{% block before_server %}{% endblock %}

{% for vhost in vhosts -%}
    # force tls redirect
    server {
        {% include './partials/listen.j2' %}

        server_name {{ vhost.domains | join(' ') }};

        {% if acme_enabled %}
        include snippets/acme-stateless-{{ vhost.tls.acme.env }}.conf;
        {% endif %}

        location / {
            return {{ redirect_status_code }}
                https://{{ vhost.canonical_domain | default('$host', true) }}$request_uri;
        }
    }

    {% if vhost.canonical_domain -%}
        # force canonical redirect
        server {
            {% include './partials/listen-ssl.j2' %}

            server_name {{ vhost.domains | difference([vhost.canonical_domain]) | join(' ') }};

            {% include './partials/ssl-cert.j2' %}

            location / {
                return {{ redirect_status_code }}
                    https://{{ vhost.canonical_domain }}$request_uri;
            }
        }
    {%- endif %}

    {% if not vhost.canonical_domain or vhost.canonical_domain in vhost.domains -%}
        {% if varnish_enabled -%}
            {% include './partials/varnish-forward.j2' %}
        {%- endif %}

        # application
        server {
            {% block server_begin %}{% endblock %}

            {% if varnish_enabled -%}
                {% include './partials/listen-varnish.j2' %}

                gzip off;
                {% if nginx_brotli_enabled %}
                brotli off;
                {% endif %}
            {% else %}
                {% include './partials/listen-ssl.j2' %}

                {% include './partials/site-wide-basic-auth.j2' %}
            {%- endif %}

            server_name {{ vhost.canonical_domain or vhost.domains | join(' ') }};

            {% block server_document_root %}root {{ document_root_full }};{% endblock %}

            index {{ index_file }};
            autoindex {{ autoindex }};
            charset {{ charset }};

            {% include './partials/logs.j2' %}

            {% include './partials/ssl-cert.j2' %}

            {% block server_main %}
            location / {
                # try to serve file directly, fallback to index.php
                try_files $uri /index.php$is_args$args;
            }

            location ~ \.php$ {
                fastcgi_pass {{ username }}-php;
                fastcgi_split_path_info ^(.+\.php)(/.*)$;
                include fastcgi_params;

                fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
                fastcgi_param DOCUMENT_ROOT $realpath_root;
            }
            {% endblock %}

            location ~ /\. {
                deny all;
            }

            {% for item in configuration -%}
                {{ item }}
            {%- endfor %}

            {% block server_end %}{% endblock %}
        }
    {%- endif %}
{%- endfor %}
